.rvmrc
.bundle
.DS_Store
Gemfile.lock
.idea
atlassian-ide-plugin.xml

# docs
rdoc
doc
.yardoc

# textmate
*.tmproj
tmtags

# vim
*.swp

# rcov generated
coverage

# Continuous integration reports:
ci/reports/*/*

