.rvmrc
.bundle
.DS_Store
Gemfile.lock
.idea
atlassian-ide-plugin.xml
*.gem
.bundle

# docs
rdoc
doc
.yardoc

# textmate
*.tmproj
tmtags

# vim
*.swp

# rcov generated
coverage

# Continuous integration reports:
jenkins/reports/rspec/*
jenkins/reports/html/index.html
